body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: #1b1b1b;
  color: #C8B273;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #C8B273;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-check-label {
  margin-left: 0.5rem;
  color: #C8B273;
}

.btn-primary {
  background-color: #C8B273;
  border-color: #C8B273;
}

.btn-primary:hover {
  background-color: #a89250;
  border-color: #a89250;
}

.recommendation {
  background-color: #333;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recommendation h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #C8B273;
}

.recommendation p {
  margin-bottom: 0;
  color: #C8B273;
}
